@using Epi.Cloud.MVC.Constants
@model Epi.Cloud.MVC.Models.MetadataAdmin
@{
    ViewBag.Title = "Epi Info™ Cloud Enter - Home";// + " - "+
                                                   // Model.SurveyName + " - " + Model.IsDraftModeStyleClass;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/jscript">


    $(document).ready(function () {
        CloseSppiner();
        $("#result").dialog({
            autoOpen: false,
            title: 'Details',
            width: '700',
            height: '550',
            position: 'center',
            resizable: 'false',
            modal: true

        });
    });

    function ShowSppiner() {
        var validate = $('#recordstable').validationEngine('validate');
        if (validate) {
            if (open) {
                $('BODY').jLoadingOverlay('close');
                open = false;
            }
            else {
                $('BODY').jLoadingOverlay('');
                open = true;
            }
        }
        $("#parent-selector :input").attr("disabled", true);
    }
    function CloseSppiner() {

        $('BODY').jLoadingOverlay('close');
        open = false;

        $("#parent-selector :input").attr("disabled", false);
    }


    function ClearMetadaCache() {


        var ActionUrl = '@Url.Action("ClearMetadaCache", "MetadataAdmin")';
        $.ajax({
            url: ActionUrl,
            type: 'POST',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(model),
            success: successFunc1,
            Error: errorFunc1
        });
        function successFunc1(data, status) {
            if (data == "Success") {
                alert('Cache has been cleared Successfully');

            }
            else if (data == "UnSuccess") {
                alert('Cache has not been cleared Successfully');
            }
            else {

                alert('Error while clearing Cache');
            }
        }

        function errorFunc1() {
            alert('error');
        }
    }

    function UploadBlob() {


        var ActionUrl = '@Url.Action("UploadBlob", "MetadataAdmin")';
        $.ajax({
            url: ActionUrl,
            type: 'POST',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(model),
            success: successFunc1,
            Error: errorFunc1
        });
        function successFunc1(data, status) {
            if (data == "Success") {
                alert('Blob has been uploaded Successfully');
                setTimeout(function () {
                    location.reload();  //Refresh page
                }, 5);
            }
            else if (data == "UnSuccess") {
                alert('Blob has failed to upload');
            }
            else {

                alert('Error while uploading the Blob');
            }
        }

        function errorFunc1() {
            alert('error');
        }
    }

    function DeleteBlob(ProjectId) {


        var ActionUrl = '@Url.Action("DeleteBlob", "MetadataAdmin")' + '?ProjectId=' + ProjectId;
        $.ajax({
            url: ActionUrl,
            type: 'POST',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(model),
            success: successFunc1,
            Error: errorFunc1
        });
        function successFunc1(data, status) {
            if (data == "Success") {
                alert('Blob has been Deleted Successfully');
                setTimeout(function () {
                    location.reload();  //Refresh page
                }, 5);
            }
            else if (data == "UnSuccess") {
                alert('Blob has not been Deleted Successfully');
            }
            else {

                alert('Error while Deleting Blob');
            }
        }

        function errorFunc1() {
            alert('error');
        }
    }


    function ViewBlob(ProjectId) {

        var ActionUrl = '@Url.Action("ViewBlob", "MetadataAdmin")' + '?ProjectId=' + ProjectId;
        $.ajax({
            url: ActionUrl,
            type: 'GET',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $("#result").html(response.val).dialog("open");
                CloseSppiner();
            }
        });
    }

</script>

<div>


    <h3>Clear Cache</h3>
    @* <label for="Email" style="display: block; font-weight: bold;margin-top:10px;">Email:</label>*@

    <button id="btnClearCache" onclick="ClearMetadaCache()" type="button" class='default edit'>
        Clear
    </button>

    <br />

    <h3>Blob</h3>

    <button id="btnUploadCache" onclick="UploadBlob()" type="button" class='default edit' style="width:100px">
        Upload Blob
    </button>

    @{
        WebGrid webGrid = new WebGrid(rowsPerPage: Model.PageSize, canSort: false, canPage: false, ajaxUpdateContainerId: "recordstable");
        webGrid.Bind(Model.BlobResponsesList, autoSortAndPage: false);
    }
    <div id="recordstable">
        @{

            <div style="clear: both; margin-bottom: 10px; padding: 10px 0 0;"></div>
            var gridColumns = new List<WebGridColumn>
                ();
            gridColumns.Add(webGrid.Column(header: "",
            format: (item) => new HtmlString("<button name='ViewButton' type='button' class='default edit' onclick=ShowSppiner();ViewBlob('" + item.Column2 + "')  value='" + item.Column2 + "'> View</button> " +
            "<button name='DeleteButton' type='submit' class='default edit' onclick=DeleteBlob('" + item.Column2 + "') id='" + item.Column2 + "' value='" + item.Column2 + "'> Delete</button>"
            )));

            if (Model.Columns.Count >= 1)
            {
                gridColumns.Add(webGrid.Column("Column0", (Model.Columns.Count >= 1) ? Model.Columns[0] : ""));
            }
            if (Model.Columns.Count >= 2)
            {
                gridColumns.Add(webGrid.Column("Column1", (Model.Columns.Count >= 2) ? Model.Columns[1] : ""));
            }
            if (Model.Columns.Count >= 3)
            {
                gridColumns.Add(webGrid.Column("Column2", (Model.Columns.Count >= 3) ? Model.Columns[2] : ""));
            }

            @*@webGrid.Pager(mode: WebGridPagerModes.All, numericLinksCount: 3)*@

            @*@webGrid.Pager(mode: WebGridPagerModes.All, numericLinksCount: 3, firstText: "First", lastText: "Last")*@

            @webGrid.GetHtml(columns: gridColumns);


        }

        @*@Html.ActionLink("Admin", "Index", "MetadataAdmin", null, null);*@

        <div>
            @if (Session[UserSession.Key.UserHighestRole].ToString() == "3")
            {
                <button id="btnmetaadmin" onclick="location.href='@Url.Action("OrgList", "AdminOrganization")';return false;" class="default" type="button" style="height: 35px;">
                    Back
                </button>                
            }

            @if (Session[UserSession.Key.UserHighestRole].ToString() == "2")
            {
                <button id="btnmetaadmin" onclick="location.href='@Url.Action("UserList", "AdminUser")';return false;" class="default" type="button" style="height: 35px;">
                    Back
                </button>              
            }
           
        </div>
        @*@Html.Hidden("hidPageNumber", @Model.CurrentPage)*@
        @{
            if (Model.NumberOfPages == 0)
            {
                <div class="zerorec">
                    No records found.
                </div>
            }
        }
    </div>

    <div id="result" style="display:none;">

        <div id="result1">
            <span>
            </span>
        </div>
    </div>

</div>